body {
    background: #53C0FB
}

.form-control:focus {
    box-shadow: none;
    border-color: #92d4f8
}

.profile-button {
    background: #53C0FB;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #abccdd
}

.profile-button:focus {
    background: #53C0FB;
    box-shadow: none
}

.profile-button:active {
    background: #53C0FB;
    box-shadow: none
}

.back:hover {
    color: #53C0FB;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #72c0eb;
    color: #fff;
    cursor: pointer;
    border: solid 1px #53C0FB
}